@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

*{
	box-sizing:border-box;
}

body{
	padding:0;
	margin:0;
	font-family: "Ropa-sans", sans serif;
}

header{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	padding:15px 0;
	background-color: #fff;
}

.container{
	width: 1000px;
	max-width: 100%;
	margin:0 auto;
}

header button{
	background-color:  transparent;
	color:#aaaaaa;
	border:none;
	font-size: 35px;
	cursor:pointer;
	margin-right: 5px;

}

header .slogan h1{
	font-size: 42px;
	font-weight: 300;
	height: 100%;
	margin:0;
	display: inline-block;
	color: #777777
	
}

header .slogan h2{
	font-size: 16px;
	font-weight: 300;
	height: 100%;
	margin:0;
	display: inline-block;
	color: #AAAAAA
	
}

button{
	background-color: transparent;
	color:#AAAAAA;
	border:none;
	font-size:35px;
	cursor:pointer;
	margin-right:5px;
}

.banner .carousel img{
	width: 100%;
}
.banner .carousel{
	margin: 50px 0;
	position: relative;
}

.banner .carousel .controls{
	position:absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;

}

.banner .carousel .controls button{
	background-color: rgba(170,170,170,0.8);
	border: none;
	padding: 10px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin: 20px;
	cursor: pointer;
}

.banner .carousel .controls button img {
	width: 20px;
}

/* FIM DA HEADER */


/* ÍNICIO LOFTS */
.lofts article{
	width:350px;
	background-color:#EEEEEE;
}

.lofts article .thumb{
	width:100%;
	height:200px;
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
}

.lofts article .infos{
	padding: 15px; /* distancia da borda */
}

.lofts article .price{
	font-size:30px;
	color: #888888;
	font-weight: 400;
	margin: 5px 0;
}

.lofts article .tag{
	text-transform: uppercase;
	padding:3px 15px;
	background-color: #888;
	color: #fff;
	font-size: 25px;
	border-radius: 30px;
}

.lofts article .tag.tag-new{
	background-color: #51d275;
}

.lofts article .tag.tag-sale{
	background-color: #dc9730
}

/* INÍCIO STYLES */

.styles{
	padding:50px 0;
}

.styles h2{
	font-size: 35px;
	font-weight: 400;
	color:#888888;
	text-align:center;
}

.styles article{
	width: 100%;
	padding:50px 25px;
	background-color: #888;
	margin:30px 0;
	border-radius:10px;
	background-size: cover;
	background-position: center;
	position:relative;
}

.styles article h3{
	position:absolute;
	width: 100%;
	height: 100%;
	margin:0;
	color:#fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	font-size:25px;
	font-weight:400;

	background-color: rgba(196,196,196,0.5);
	top:0;
	left:0;
	}


section.form h1{
	text-align:center;
	font-size:40px
}

form{
	max-width: 100%;
	margin: 40px auto;

}

form input:not([type="checkbox"]){
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}


/* INÍCIO FOOTER */
footer{
	background-color: black;
	color:#fff;
	padding:50px 0;
	display:block
}
footer .container {
}

footer .container .map iframe{
	height: 300px;
	border-radius: 10px;

}

footer a{
	color:#fff;
}

footer .info{
	color: #EEEEEE;
	font-style: inherit;
}

footer .social-media ul{
	display:flex;
 	padding:0;	
	list-style:none
}

footer .social-media ul li img{
	width: 30px;
	margin:10px 10px 10px 0;
}

@media (max-width: 769px){
	footer .container{

	}
}
